@media (max-width: 800px ) {
    
    body
    {
        flex-direction: column;
        margin: 0;
    }
    
    .izquierda
    {
        border-radius: 0 0; 
        max-width: 100%;
        min-width: 650px;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.2em;
    }

    .izquierda:hover
    {
        translate: unset;
        box-shadow: none;
    }


    .izquierda .img-container
    {
        min-width: 150px;
        min-height: 150px;
        max-width: 20vw;
        max-height: 20vw;
    }

    .izquierda .conocimientos
    {
        justify-content: center;
        text-align: center;
    }
    
    .izquierda hr
    {
        display: none;
    }
    
    .izquierda .conocimientos ul
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        /* flex-direction: column; */
        justify-content: space-between;
    }
    
    .izquierda .conocimientos ul li
    {
        list-style: none;
        margin: 1em;
        font-size: 20px;
    }

    .derecha
    {
        border-radius: 0 ; 
        max-width: 100%;
        min-width: 650px;
        font-size: 1rem;
    }


    
}